@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar */
/* .container-fluid {
  background-color: #faf5ff !important;
  padding-top: 0 !important;
}

.nav-item {
  margin-left: 2rem !important;
}
.container-fluid {
  --bs-gutter-x: 2.5rem !important;
} */
*/ body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000 !important;
}

h1{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 0px rgba(97, 66, 125, 0.28);
    
}
/* header */

.header {
  background-color: #faf5ff;
  position: fixed;
  width: 100%;
  z-index: 19;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #faf5ff;
}

.header li a {
  scroll-behavior: smooth;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #61427d !important;
}

.header .src {
  height: 100%;
  width: 90px;
  padding: 5px 20px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  /* display: inline-block; */
  float: right;
  padding: 30px 30px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 310px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .kbname {
        
    }
}
/* Cover Page */

.coverpg {
  width: 100%;
}

.coverimagemain {
  width: 100%;
  margin-top: 68px;
}

.kbname {
  float: left;
  padding: 20px 60px 20px 36px;
  background-color: #faf5ff;
  margin-left: -10px;
  margin-top: -220px;
  position: absolute;
  border-radius: 10px;
}
.kbname h5 {
  color: #61427d;
  font-size: 18px;
  
}

.kbname h1 { 
  font-size: 40px;
}



@media (max-width: 48em) {
  
  .kbname {
      padding: 20px;
      margin: 10px;
        
    }
    container_about
    {
        margin-top: 
    }
}


/* About  */
.container_about {
  
  margin-left: 6rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5 rem;
}

.container_about p {
  text-align: justify;
  margin-top: 20px;
  letter-spacing: 0.1;
}
.about {
  background-color: #faf5ff;
  padding: 0rem 3rem 0rem 3rem !important;
  /* margin-left: 4rem; */
}

.container_about h1 { font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61427d;
  margin-bottom: 2rem;
  font-family: 'Pacifico', cursive;
}

@media (max-width: 60em) {
  
  .kbname {
      padding: 20px;
      align-self:center;
      margin-left: 52px;
        
    }
    .container_about
    {
        margin-top: 120px;
    }
}

/* Facilities*/

/* .container_facilities {
  background-color: #faf5ff;
  align-items: center;
} */

.facilities 
{
    padding-top: 2.5rem;
}
.facilities h1 { font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61427d;
  margin-top: 1.5 rem !important;
  font-family: 'Pacifico', cursive;
}

/* .fc {
  width: 84%;
  margin-left: 8%;
} */

/* .scrollmain {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 10px 40px;
} */
/* 
.scrollmain::-webkit-scrollbar {
  width: 0px;
} */

.facilities_gallery {
  border: 2px solid #61427d;
  float: left;
  background-color: white;
  width: 320px;
  height: 4px;
  margin: 60px 20px;
}

.facilities_gallery:hover {
  border: 2px solid #61427d;
}

.facilityimg {
  width: 316px;
  height: 264px;
}

.desc h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61427d;
  margin-top: 1rem;
}
.desc h6 {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* /footer/ */
/* .footerout {
  width: 100%;
}

.footerout h1 { font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61427d;
  margin-bottom: 2rem;
}

.footer {
  background-color: #faf5ff;
  width: 100%;

  display: flex;
}

.footercontent {
  padding-top: 30px;
  padding-bottom: 60px;
  width: 45%;
  margin-right: 5%;
  margin-left: 8%;
}

.contactinfo {
  margin: 10px 0px;
}

.footercontent ul {
  margin-top: 10px;
}
.footercontent ul li {
  list-style-type: none;
}

.footerlogo {
  width: 28px;
  height: auto;
  margin-right: 10px;
}

.map {
  width: 35%;
  margin-right: 8%;
  margin-top: 30px;
}

.maplink {
  width: 100%;
  height: 220px;
}

.footerout h6 {
  background-color: #faf5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61427d;
  padding-bottom: 2rem;
} */
/* /footer/ */

/* .card_carousel {
  padding-left: 200px;
} */
/* .card-set1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-indicators [data-bs-target] {
  background-color: #61427d !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
} */

/* Gallery */

.gallery {
  padding-top: 2.5rem;
  width: 86%;
  margin-left: 7%;
}
.gallery h1 { font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61427d;
  font-family: 'Pacifico', cursive;
  padding-bottom: 1.5rem;
}

.hey {
  transition: transform 0.2s; /* Animation */
}

.hey:hover {
  transform: scale(1.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Team Section */

.team
{
    margin-top: 40px;
}
.team-section {
  background-color: #faf5ff;
  min-height: 100vh;
  padding: 50px 15px 30px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.team-section .section-title {
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 50px;
}
.section-title h1 { 
  font-size: 28px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #61427d;
}

.team-section .section-title p {
  font-size: 16px;
  text-align: center;
  margin: 15px 0 0;
  color: #ffffff;
}
.team-section .team-items {
  flex-basis: 100%;
  margin-left: 5%;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team-section .team-items .item {
  flex-basis: calc(25% - 30px);
  max-width: calc(25% - 30px);
  transition: all 0.5s ease;
  margin-bottom: 40px;
}
.team-section .team-items .item img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.team-section .team-items .item .inner {
  position: relative;
  z-index: 16;
  padding: 0 15px;
}
.team-section .team-items .item .inner .info {
  background-color: white;
  text-align: center;
  padding: 20px 15px;
  border-radius: 8px;
  transition: all 0.5s ease;
  margin-top: -40px;
}
.team-section .team-items .item:hover .info {
  transform: translateY(-10px);
}
.team-section .team-items .item:hover {
  transform: translateY(-10px);
}
.team-section .team-items .item .inner .info h5 {
  height: 20px;
  margin: 0;
  text-overflow:inherit;
  overflow-y: hidden;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.team-section .team-items .item .inner .info .council {
  font-size: 16px;
  font-weight: 600;
  color: #61427d;
  margin: 10px 0 0;
}

/* .team-section .team-items .item .inner .info .personal {
  padding-top: 10px;
} */

/* .team-section .team-items .item .inner .info .social-links a {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  color: #009688;
  border-radius: 50%;
  margin: 0 2px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  transition: all 0.5s ease;
} */

/* .team-section .team-items .item .inner .info .personal p:hover {
  box-shadow: 0 0 10px #000;
} */
.team-section .team-items .item .inner .info .personal p {
  font-size: 12px;
  font-weight: 300;
  color: black;
  margin: 5px 0 0;
}

/*responsive*/
@media (max-width: 991px) {
  .team-section .team-items .item {
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .team-section .team-items .item {
    flex-basis: calc(100%);
    max-width: calc(100%);
  }
}

/* footer */
footer {
  margin-top: 2.5rem;
}
footer h1 { 
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61427d;
  font-family: 'Pacifico', cursive;
  margin-bottom: 1.5rem;
}

.maplink {
  width: 100%;
  height: 210px;

}

.contactinfo {
  margin: 10px 0px;
}

.footerlogo {
  width: 28px;
  height: auto;
  margin-right: 10px;
}

footer ul {
  margin-top: 10px;
}
footer ul li {
  list-style-type: none;
}
/* Facilities*/
.facilities {
  margin-top: 64px 0px;
}
.container_facilities {
  position: relative;
  background-color: #faf5ff;
  align-items: center;
}

.facilities h1 { font-size: 28px;
  font-family: 'Pacifico', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61427d;
  margin-bottom: 2rem;
}

.fc {
  width: 84%;
  margin-left: 8%;
}
.container_facilities span {
  background-color: #61427d;
  color: #ffffff;
  padding: 0.6rem;
  border-radius: 150px;
  position: absolute;
  right: 3%;
  bottom: 2.5%;
}
.container_facilities span img {
  width: 30px;
}
.scrollmain {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 10px 40px;
}

.scrollmain::-webkit-scrollbar {
  width: 0px;
}

.facilities_gallery {
  border: 1px solid #d5eef2;
  float: left;
  background-color: white;
  width: 320px;
  height: 380px;
  margin: 60px 10px;
}

.facilities_gallery:hover {
  border: 2px solid #61427d;
}

.facilityimg {
  width: 316px;
  height: 264px;
}

.desc h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61427d;
  margin-top: 1rem;
}
.desc h6 {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 480px) and (min-width: 320px) {
  .kbname {
    float: left;
    padding: 12px 15px 12px 20px;
    background-color: #faf5ff;
    margin-left: -10px;
    margin-top: -95px;
    position: absolute;
    border-radius: 10px;
    width: 58%;
  }
  .kbname h1 { font-size: 28px;
    font-size: 16px;
  }
  .kbname h5 {
    font-size: 12px;
    font-family: 'Pacifico', cursive;
  }

  .container_about {
    margin: 2rem 2rem;
    padding-top: 0;
  }
  .container_about p {
    text-align: justify;
    margin-top: 20px;
    font-size: small;
    letter-spacing: 0.1;
  }
  .about {
    background-color: #faf5ff;
    padding: 0rem 2rem 0rem 2rem !important;
  }

  .container_about h1 { font-size: 28px;
    margin-bottom: 1rem;
    font-family: 'Pacifico', cursive;
  }
  .about_photo img {
    margin-top: 1rem;
    height: 400px;
    width: 450px;
  }
    
    
  footer h5 {
    font-size: 16px;
    font-weight: 700;
  }
  footer p {
    font-size: 14px;
    font-weight: 400;
  }
  .container_facilities span {
    background-color: #61427d;
    color: #ffffff;
    padding: 0.4rem;
    border-radius: 150px;
    position: absolute;
    right: 3%;
    bottom: 2.5%;
    font-size: small;
  }
  .container_facilities span img {
    width: 20px;
  }
}


/*.top{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 32px;
    z-index: 21;
}

.top{
    color: #61427d !important;
    text-decoration: none; !important
}

.totop {
  width: 30px;
}


#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}


#btn-back-to-top :hover {
  
}*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px;
  opacity: 90%;
  right: 30px;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none;
  cursor: pointer;
  border-radius: 100px;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.totop {
  width: 35px;
}

.totop: hover{
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#myBtn:hover {
    
  opacity: 100%;/* Add a dark-grey background on hover */
}



